body {
  padding: 2em;
  font-family: "Open Sans";
}

.pure-g [class *="pure-u"] {
  font-family: "Open Sans", sans-serif;
}
a {
  color: rgb(20, 25, 150);
}

a:visited {
  color: rgb(20, 25, 80);
}

.build {
  padding-top: 1em;
}

.build .success, .build .failure {
  color: white;
  background-color: grey;
  border-radius: 3px;
  padding: 3px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 3px;
  margin-right: 2em;
  width: 50%;
  text-align: center;
  display: inline-block;
}

.build .success {
  background-color: rgb(50, 155, 50);
}

.build .failure {
  background-color: rgb(250, 55, 50);
}

.build .NA {
  background-color: rgb(50, 55, 210);
}

.build .comment {
  font-style: italic;
}
